

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,600;1,8..144,400;1,8..144,600&family=Roboto:wght@700&family=Tangerine:wght@700&display=swap');

// Fonts
$roboto: Roboto, sans-serif;
$roboto-serif: Roboto Serif, sans-serif;
$tangerine: Tangerine, sans-serif;
