// COLOR VARIABLES

// Raw colors
$dark-blue: #000066;
$blue: #333399;
$light-blue: #60609a;
$violet: #993399;
$sick-green: #99cc33;
$white: #F2F2F2;
$black: #181819;
$dark-grey: #4A4343;
$grey: #706666;
$light-grey: #B0A0A0;

$standard-red: red;
$standard-green: green;
$standard-blue: blue;
$standard-orange: #ffa500;


// Specific use colors
$p-color: $blue;
$p-color-dark: $dark-blue;
$s-color: $violet;

$bg-blue: $dark-blue;
$bg-violet: $violet;

$danger: $standard-red;
$warning: $standard-orange;
$succes: $standard-green;
$info: $standard-blue;

$active: $blue;
$disabled: $light-grey;

// Background gradient
$bg-gradient: linear-gradient(0deg, $bg-blue 15%, $bg-violet 100%);