@use './sizes' as s;
@use './colors' as c;

// Fonts
$roboto: Roboto, sans-serif;
$roboto-serif: Roboto Serif, sans-serif;
$tangerine: Tangerine, sans-serif;

// Sizes
$xs: s.$s8;
$sm: s.$s12;
$base: s.$s16;

// h1
// 
// p standard font
// p cursive
// p bold