// Size values used for fonts, padding and margins.
// Set in rem. s is for spacing, number is the px equialivant

// Raw size measurements in rem

$s0: 0rem;
$s4: 0.25rem;
$s8: 0.5rem;
$s12: 0.75rem;
$s16: 1rem;
$s20: 1.25rem;
$s24: 1.5rem;
$s28: 1.75rem;
$s32: 2rem;
$s36: 2.25rem;
$s40: 2.5rem;
$s44: 2.75rem;
$s48: 3rem;
$s56: 3.5rem;
$s64: 4rem;

// Calculated values

$b-pad: $s16;