@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,600;1,8..144,400;1,8..144,600&family=Roboto:wght@700&family=Tangerine:wght@700&display=swap');

@import './variables.css';

/* All the CSS that is NOT variables. Depending on how long this gets, maybe it should be broken down into partials. Probably not necessary for this small project. */

/* CSS RESET AND BOILERPLATE: */

html {
    box-sizing: border-box;
    /* // Sets the font to the default browser font size */
    text-size-adjust: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    background: linear-gradient(0deg, var(--dark-blue) 15%, var(--violet) 100%);
}

/* #app {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: $s16;
}

.view {
    width: 100%;
    height: 100%;
    border: 2px red solid;
} */

h1,
h2,
h3 {
    margin-top: 0;
    font-weight: 700;
    line-height: 1.1;
}

p {
    margin-top: 0;
}

a,
a:active,
a:visited {
    text-decoration: none;
}